@import "@/styles/index";
.table_toolbar_wrap {
	@apply px-10 pt-10 pb-4;
	.title_header {
		@apply flex items-center mb-4;
		.title {
			font-size: 16px;
		}
		.extra {
			flex: auto;
			text-align: right;
		}
	}
}
.pro_table_wrap {
	:global {
		.ant-table-tbody > tr.ant-table-row-selected > td {
			background-color: transparent;
		}
	}
}
.banner_title {
	display: flex;
	flex-direction: column;
	@apply ml-4;
	@include media(sm) {
		@apply ml-0;
		align-items: center;
		flex-direction: row;
	}
	.number {
		@apply mx-2;
		color: $color_primary;
		font-weight: bold;
	}
	.clear_select {
		@apply cursor-pointer ml-2;
		color: $color_light-3;
		font-weight: bold;
		transform: color 0.3s;
		&:active {
			color: rgba($color_light-3, 0.8);
		}
	}

	.extra {
		flex: auto;
		display: flex;
		justify-content: space-between;
		@include media(sm) {
			justify-content: flex-end;
		}
	}
}
