@import "@/styles/index";
$collapsed_width: 48px;
.sider-menu {
	&__wrap {
		position: fixed !important;
		transition: max-width 0.2s, min-width 0.2s, width 0.2s !important; // 禁止侧边栏除了宽度之外的动画
		height: 100vh;
		left: 0;
		top: 0;
		z-index: 11;
		.ant-layout-sider-children {
			@include flex-center(column);
		}

		.logo {
			width: 100%;
			padding: 1.6rem 0.9rem;
			height: 60px;
			display: flex;
			align-items: center;
			overflow: hidden;
			align-items: center;
			white-space: nowrap;

			img {
				width: 4rem;
				margin-right: 10px;
				object-fit: cover;
			}
			span {
				text-transform: capitalize;
				font-weight: 600;
				font-size: 18px;
			}
		}

		.menu {
			flex: 1;
			overflow: hidden auto;
			border-right: 0 !important;
			&::-webkit-scrollbar {
				width: 0.5rem;
				background-color: rgba($color_primary, $alpha: 0.1);
			}
			&::-webkit-scrollbar-thumb {
				border-radius: 1rem;
				background-color: $color_primary;
			}
		}
		.ant-menu-inline-collapsed {
			width: $collapsed_width !important;
		}
	}
	&__placeholder {
		min-height: 100vh;
		width: 200px;
		transition: width 0.2s;
		&.collapsed {
			width: 48px;
		}
	}
}
