@import "styles/index.scss";
.login-page {
	&__wrap {
		@include flex-center();
		min-height: 100vh;
		transition: all 0.2s;
		@include media(sm, max) {
			background-color: rgba($color: white, $alpha: 0.9);
		}
		.login-box {
			&__wrap {
				@include flex-center(column);
				border-radius: 1rem;
				opacity: 0.9;
				background-color: white;
				position: relative;
				bottom: 10rem;
				box-shadow: 1rem 1rem 4rem rgb(168, 164, 164);
				height: 38rem;
				width: 40rem;

				@include media(sm, max) {
					background-color: transparent;
					position: static;
					box-shadow: none;
				}
			}
			&__title {
				@include flex-center;
				@apply text-4xl;
				flex-shrink: 0;
				height: 11rem;

				@include media(sm, max) {
					flex-basis: 30%;
				}
			}
			&__form {
				flex-grow: 1;
			}
		}
	}
}
