@import "@/styles/index";
$active_color: #1890ff;
.select_wrap {
	overflow: hidden auto;
	@include scrollbar($active_color);
	.item_wrap {
		border-bottom: 1px solid rgba($color: black, $alpha: 0.04);
		transition-property: color, background-color;
		transition-timing-function: ease-in-out;
		transition-duration: 0.3s;
		user-select: none;
		display: flex;
		align-items: center;
		padding: 6px 0;
		cursor: pointer;
		position: relative;;

		&:hover {
			background-color: rgba($color: $active_color, $alpha: 0.1);
		}
		&.active {
			color: $active_color;
			.icon {
				color: $active_color;
				opacity: 1;
				transform: translateX(0);
			}
		}
		.text {
			text-align: center;
			flex: auto;
		}
		.icon {
			position: absolute;
			right: 6px;
			transition: all 0.3s ease-in-out;
			opacity: 0;
			transform: translateX(10px);
			flex-basis: 20px;
		}
	}
}
.extra {
	text-align: center;
	padding: 6px;
	background-color: $color_grey-5;
	transition: background-color 0.3s ease-in-out;
	&:hover {
		background-color: rgba($color: $color_black-2, $alpha: 0.1);
	}
}
