@import "@/styles/index";
$icon_color: rgba($color_grey-2, $alpha: 0.7);
.icon_wrap {
	border: 1px dashed $icon_color;
	padding: 8px;
	i {
		color: $icon_color;
	}
}

.input_wrap {
	&::after {
		border-top: none !important;
	}
	.input {
		min-width: 200px;
	}
}
.keyboard {
	width: 100%;
}

.carousel_img{
	width: 100%;
	height: 100%;
}

.form_wrap{
	width: 100%;
	height: 100%;
	.form_title{
		font-weight: bold;
	}
}