$color_percent_1: #e74c3c;
$color_percent_2: #27ae60;

.pro_filed__percent--default {
	color: black !important;
}
.pro_filed__percent--color1 {
	color: $color_percent_1;
}
.pro_filed__percent--color2 {
	color: $color_percent_2;
}
.pro_field__percent--symbol {
	margin-right: 6px;
}
