@import "@/styles/index.scss";
@import "./components/BedCard/style.module";

.bed_card_list {
	@apply bg-white px-16 py-8 w-full;
	margin-top: 2rem;
	@apply flex justify-between items-center flex-wrap;
}
.bed_card_placeholder {
	@extend .bed_card;
	height: 0;
	margin: 0;
}
