@import "@/styles/index";
.user_info {
	@apply mx-24;
	@include flex-center(column);
	font-size: 18px;
	color: $color_text;
	flex-basis: 70px;
	flex-shrink: 0;
	text-align: center;
}
.bed_info {
	@apply flex-auto flex flex-col;
	font-size: 18px;
	color: $color_text;
}
.sleep_time {
	position: relative;
	@apply mb-12;
	&::before {
		content: "";
		position: absolute;
		left: -10px;
		width: 4px;
		height: 100%;
		background-color: $color_primary;
	}
}
.user_room,
.user_nurse {
	margin-left: 8px;
	color: $color_primary;
	cursor: pointer;
	.icon {
		margin-left: 8px;
	}
}
.group {
	width: 100%;
	max-height: 200px;
	overflow: auto;
}
.nurse_list_item {
	display: flex;
	align-items: center;
	font-size: 14px;
	margin-bottom: 10px;
	cursor: pointer;
	.nurse_info {
		@include flex-center;
		justify-content: flex-start;
		flex: 1;
		:not(:last-child) {
			margin-right: 10px;
		}
	}
	.name,
	.position {
		color: $color_text;
		font-size: 16px;
	}
}
