@import "styles/index";
.tick-mark-container {
	display: flex;
	.tick-mark-wrap {
		@apply flex justify-between flex-shrink-0;
	}

	.tick__wrap {
		background-color: rgba($color_grey-2, $alpha: 0.4);
		position: relative;

		flex-basis: 1px; // 不管垂直还是水平都是1px

		span {
			color: rgba($color_grey-2, $alpha: 0.8);
			position: absolute;
		}

		// 水平属性
		height: 8px;
		span {
			top: 20px;
			left: -4px;
		}
		// 标记数字
		&.isMark {
			height: 16px;
		}

		//垂直
		&.vertical {
			// 垂直属性
			width: 8px;
			span {
				top: -10px;
				left: 20px;
			}
			// 标记数字
			&.isMark {
				width: 16px;
			}
		}
	}
}
