.container {
	overflow: auto;
	height: 400px;
	border: 1px solid gray;
  border-radius: 6px;
  padding: 10px 15px;
	background-color: white;
	&::-webkit-scrollbar {
		width: 0.5rem;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 4px;
		background-color: rgba(black, $alpha: 0.6);
	}
}
