@import "@/styles/index";
$sider_width: 30rem;
@mixin animate($property: all) {
	transition: $property 0.3s ease-in-out;
}
.container {
	@include animate;
	@apply bg-white;
	overflow: hidden auto;
	padding: 1rem 1.4rem;
	width: $sider_width;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(0, 0);
	&.collapsed {
		transform: translate(100%, 0);
	}
	&::-webkit-scrollbar {
		width: 0.5rem;
		background-color: white;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 4rem;
		background-color: rgba($color_primary, $alpha: 0.6);
	}
}

.trigger {
	@apply bg-white cursor-pointer;
	@include animate(right);
	box-shadow: -1px 0px 0.4rem rgba($color: #000000, $alpha: 0.12);
	@include flex-center();
	transform: translate(0, -50%);
	position: absolute;
	height: 8rem;
	width: 2.4rem;
	top: calc(50% - 64px);
	right: $sider_width;

	&.collapsed {
		right: 0;
		// transform: translate(0, -50%);
	}
}
.placeholder {
	@extend .placeholder;
	@include animate;
	width: $sider_width;
	&.collapsed {
		width: 0;
	}
}
