@import "~@/styles/index.scss";
.common_header_wrap {
	@apply shadow-sm;
	@apply flex justify-center items-center bg-white;
	min-height: 60px;
	margin-bottom: 30px;
	padding: 0 20px;
	.header {
		display: flex;
		align-items: center;
		white-space: nowrap;
		overflow: hidden;
		color: $color_text;

		.icon {
			font-size: 20px;
			margin-right: $base_spacing;
		}
		span {
			font-size: 18px;
			font-weight: 600;
		}
	}
	.children {
		flex: auto;
	}
	.extra {
		flex-shrink: 0;
	}
}
.ghost {
	background-color: transparent !important;
	box-shadow: none;
}
.fixed {
	transition: all 0.2s;
	position: fixed !important;
	width: calc(100% - 20rem);
	z-index: 100;
	right: 0;
	top: 0;
}
.collapsed {
	width: calc(100% - 48px);
}
