@import "@/styles/index.scss";
.field_password__mark {
	font-weight: 500;
}
.field_password__icon {
	cursor: pointer;
	position: absolute;
	margin-top: -8px;
	margin-left: 4px;
	transition: color 0.2s;
	&:hover,
	&:active {
		color: $color_primary;
	}
}
