@import "~@/styles/index";
$base_height: 32px;
.config_list__wrap {
	.submit {
		@apply hidden;
	}
}
.item_list_wrap {
	.item_list {
		line-height: $base_height;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		&:last-child {
			margin-bottom: 15px;
		}

		.item {
			flex: 1;
		}
		.icon{
			flex-basis: 30px;
			@apply cursor-pointer;
		}
	}
}
