@import "@/styles/index.scss";
.main {
	padding: 0 20px 20px;

	.card_header {
		font-weight: 650;
		font-size: 16px;
		color: $color_text_black;
		text-align: center;
	}

	.page_wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 20px;

		.history_list {
			@apply w-full mb-8 lg:w-4/24;
		}

        .test_time {
            @apply w-full mb-8 lg:w-15/24;
        }

        .test_about {
            @apply w-full mb-8 lg:w-4/24;

            .test_about_header {
                margin-bottom: 10px;
                font-size: 14px;
                .icon{
                    color: #f7ca2a;
                }
            }

            .test_about_content {
                font-size: 12px;
            }
        }
    }

    .blood_sugar_trends_content {
        min-height: 260px;
    }

}
