@import "@/styles/index.scss";

.main {
	padding: 0 20px 20px;

	.card_header {
		font-weight: 650;
		font-size: 16px;
		color: $color_text_black;
		text-align: center;
	}

	.page_wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 20px;

		.history_list {
			@apply w-full mb-8 lg:w-4/24;
			height: 400px;
			.card_content {
				height: 300px;
				overflow: auto;
				.card_content_text {
					@include flex-center;
					justify-content: space-between;
					padding: 0 10px;
					border-bottom: 1px solid $color_grey-3;
					line-height: 30px;
					cursor: pointer;
				}
			}
		}

        .test_time {
            @apply w-full mb-8 lg:w-15/24;
            flex: auto;
			height: 400px;
        }

        .test_about {
            @apply w-full mb-8 lg:w-4/24;

            .test_about_header {
                margin-bottom: 10px;
                font-size: 14px;
                .icon{
                    color: #f7ca2a;
                }
            }

            .test_about_content {
                font-size: 12px;
            }
        }
    }

    .blood_sugar_trends_content {
        min-height: 260px;
    }

}
