@import "@/styles/index.scss";

.main {
	display: flex;
	flex-direction: column;
	height: 300px;

	.title {
		text-align: center;
		margin-bottom: 20px;
	}
	.bar_list_wrap {
		list-style: none;
		flex: 1;
		display: flex;
		align-items: flex-end;
		.bar_item {
			width: 50px;
			height: 100%;
			display: flex;
			flex-direction: column-reverse;
			text-align: center;
			.text {
				margin-bottom: 4px;
			}
			.bar {
        transition: height 0.3s ease-in-out;
				color: white;
				font-size: 16px;
				border-radius: 12px 12px 0 0;
				@include flex-center();
			}
		}
	}
	.description {
		color: rgba(#000, 0.8);
		font-size: 18px;
		text-align: center;
	}
}
