.layout-header__content {
	background-color: white !important;
	z-index: 10;

	height: 4.8rem !important;
	line-height: 4.8rem !important;
	padding: 0 1.6rem !important;
	box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
	@apply flex items-center justify-end text-right;
	.header_action {
		transition: all 0.3s;
		&:hover {
			background-color: rgba($color-grey, $alpha: 0.3);
		}
	}
	.color-picker {
		border-radius: 0.2rem;
		@apply w-16 h-8;
		background-color: var(--antd-wave-shadow-color);
		&__wrap {
			@apply h-full flex items-center cursor-pointer;
		}
	}
}
