@import "@/styles/index.scss";
.info_header {
  position: relative;
  font-size: 14px;
  left: 10px;
  margin-bottom: 20px;
	&::before {
    content: "";
    position: absolute;
    left: -10px;
    width: 6px;
    height: 100%;
    background-color: $color_primary;
	}
}
