@import "@/styles/index.scss";
$line: 1px solid rgba($color_grey-4, 0.3);

.home-page__wrap {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.content_wrap {
	@apply box-border px-16 pt-10 py-24;
	background-color: white;
	width: 80%;
	max-width: 1260px;
	flex: auto;
	margin: 8rem auto 4rem;
	@include media(md, max) {
		width: 100%;
	}
	border: 1px solid rgba($color_grey-4, 0.4);
}
.user_info,
.sys_info {
	display: flex;
	align-items: center;
}

.user_info {
	flex: auto;
	.info {
		margin-left: 2rem;
		p {
			color: $color_text;
			margin-bottom: 4px;
			font-weight: bold;
		}
	}
}
.sys_info {
	min-width: 300px;
	justify-content: space-between;
}
.statistics {
	@include flex-center(column);

	color: $color_text_black;
	font-weight: bold;
	.header {
		font-size: 14px;
	}
	.value {
		font-size: 28px;
	}
}

.module_card {
	@apply flex items-center justify-between flex-wrap;
	min-height: 300px;
	.card {
		@apply flex flex-col mb-6 justify-center items-center cursor-pointer;
		width: 200px;
		min-height: 120px;
		border: 1px solid rgba($color_grey-4, 0.3);
		transition: color 0.3s;
		color: $color_text;
		.icon {
			font-size: 40px;
		}
		.name {
			margin-top: 4px;
			font-weight: bold;
		}
		&:hover {
			color: $color_black-2;
		}
	}
}
.card_placeholder {
	@extend .card;
	border: none !important;
}

.notice_wrap {
	.notice_header_wrap {
		@include flex-center;
		padding-bottom: 16px;
		border-bottom: $line;
		.notice_header {
			flex: auto;
			.icon {
				margin-right: 4px;
			}
		}
		.notice_extra {
			.action {
				@apply cursor-pointer;
				color: $color_primary;
				&:active {
					color: rgba($color_primary, 0.6);
				}
			}
		}
	}
	.notice_list {
		.list_item {
			@include flex-center;
			padding-bottom: 10px;
			border-bottom: $line;
			.title {
				flex: auto;
			}
			.poster,
			.time {
				flex-basis: 100px;
				text-align: center;
				.icon {
					color: $color_text;
					margin-right: $base_spacing;
				}
			}
			.time {
				flex-basis: 130px;
			}
		}
	}
}
