@import "@/styles/index";

$phone_width: 375px;
$min_grid_height: 500px;
.action {
	flex: auto;
	background-color: $color_grey-1;
	height: 100%;
	overflow: hidden auto;
	&::-webkit-scrollbar {
		width: 0.5rem;
		background-color: white;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 4rem;
		background-color: rgba($color_primary, $alpha: 0.6);
	}

	.action_area {
		@apply select-none;
		@include flex-center();
		align-items: flex-start;
		height: 100%;

		.page_container {
			width: $phone_width;
			@apply bg-white;
			margin: 200px 0;
			margin-bottom: 20%;
			border-radius: 3px;
			box-shadow: 1px 0 14px rgba($color: black, $alpha: 0.3);
			min-height: $min_grid_height;
		}
	}
	.grid_item_container {
		@apply box-border bg-white;
		border: 2px solid transparent;
		transition: all 0.2s ease;
		&:hover, &.active {
			border-color: $color_primary;
		}
		&:active {
			border-color: transparent;
		}
		&:global {
			&.react-draggable-dragging {
				transition: none;
				z-index: 2;
				will-change: transform;
			}
		}
		.form_item_wrap {
			@apply h-full box-border;
			padding: 20px 16px;
			border-radius: 4px;
			box-shadow: 0 2px 10px rgba($color: black, $alpha: 0.2);
		}
	}
}
