@import "@/styles/index";

$min_grid_height: 500px;
.action {
	flex: auto;
	background-color: $color_grey-1;
	height: 100%;
	overflow: hidden auto;
	&::-webkit-scrollbar {
		width: 0.5rem;
		background-color: white;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 4rem;
		background-color: rgba($color_primary, $alpha: 0.6);
	}

	.page_container {
		@apply select-none;
		@apply bg-white;
		margin: 200px auto;
		border-radius: 3px;
		box-shadow: 1px 0 14px rgba($color: black, $alpha: 0.3);
		min-height: $min_grid_height;
	}
}

.grid_item_container {
	@apply box-border bg-white;
	border: 2px solid transparent;
	&:hover {
		border-color: rgba($color_primary, $alpha: 0.6);
	}

	&.active,
	&:active {
		border-color: $color_primary;
	}

	:global {
		.react-resizable-handle {
			width: 10px;
			height: 10px;
		}
	}
	.form_item_wrap {
		pointer-events: none;
		@include flex-center;
		@apply h-full box-border;
		overflow: hidden;
		will-change: transform;
	}
}
