@import "@/styles/index.scss";
.chart_wrap {
	display: flex;
	position: relative;
	.type {
		@include flex-center;
		left: 10px;
		top: 10px;
		position: absolute;
		color: $color_text_black;
		font-weight: bold;
		font-size: 18px;
		.icon {
			font-size: 35px;
			margin-right: 4px;
		}
		.name {
			font-size: 20px;
		}
		.value {
			font-size: 28px;
			margin: 0 4px;
			color: #f94e77;
		}
	}
}
.breath_chart {
	.value {
		color: #1ad59d !important;
	}
}
