$color_grey: #d9d9d9;
$color_grey-1: #f0f0f0;
$color_grey-2: #5a6877;
$color_grey-3: #eceff4;
$color_grey-4: #ccc;

$color_primary: #1890ff;

$color_black-2: #172533;

$color_text: #999;
// antd-color
