$color_primary: #1890ff;
$color_primary-1: #fde8c8;
$color_success: #0dbf74;
$color_warn: #f6663a;

$color_light-1: #722ed1;
$color_light-2: #53c31b;
$color_light-3: #1991ff;

$color_grey: #d9d9d9;
$color_grey-1: #f0f0f0;
$color_grey-2: #5a6877;
$color_grey-3: #eceff4;
$color_grey-4: #ccc;
$color_grey-5: #fcfcfc;

$color_black-2: #172533;

$color_text: #999;
$color_text_black: #666;
// antd-color
