$map-break-point: (
	sm: 640px,
	md: 768px,
	lg: 1024px,
	xl: 1200px,
);

@mixin media($break-point: md) {
	@media screen and (min-width: map-get($map: $map-break-point, $key: $break-point)) {
		@content;
	}
}
